<div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
      <div>      
        <div>    
          <span style="margin-right: 5px;">Select Product</span>     
        <select [(ngModel)]="selectedGroup">
            <option selected [ngValue]='0'>-- select --</option>
            <option [ngValue]="productdataItem.ProductId" *ngFor="let productdataItem of ProductList" >{{productdataItem.ProductId}} -{{productdataItem.ProductName}}</option>
          </select>
       
            <!-- <button (click)="getAllProducts()" class="m-1 btn btn-light btn-outline-default" Button>Get</button> -->
        
            <button (click)="refreshFetchingBiddingList()" *ngIf="selectedGroup != ''" class="m-1 btn btn-light btn-outline-default" Button>Get Product Details</button>
      </div>
    </div>
    <hr>
    <br>
  <table class="table" style="display:inline-flexbox;">
   
    <tr>
        <td><span>Product Name</span> </td>   <td>{{ProductName}}</td>
    </tr>
    <tr>
    <td><span>Short Description</span></td>     <td>{{ShortDescription}}</td>    
    </tr>
    <tr>
        <td><span>Detailed Description</span> </td>    <td>{{DetailedDescription}}</td>   
    </tr>
    <tr>
        <td><span>Bid EndDate</span> </td>    <td>{{BidEndDate}}</td>   
    </tr>
    <tr>
        <td><span>Category</span> </td>    <td>{{Category}}</td>   
    </tr>
    <tr>
       <td> <span>Starting price</span></td>     <td>{{StartingPrice|currency}}</td>   
    </tr>
    </table>

    
          </header>
          <header class="jumbotron">
            <h3>Bid Details</h3>
            <hr>
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            
            <ng-container matColumnDef="FirstName">
              <mat-header-cell  *matHeaderCellDef> First Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.FirstName}} </mat-cell>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="LastName">
              <mat-header-cell  *matHeaderCellDef> Last Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.LastName}} </mat-cell>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="Phone">
              <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Phone}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Email">
              <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Email}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="BidAmount">
              <mat-header-cell  *matHeaderCellDef> Bid Amount </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.BidAmount | currency}} </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</header>
          
          
        </div>