<!-- <p>home works!</p> -->
<div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
      <p><b>E-Auction</b> Application is microservice based Cloud Native Application. The Main purpose of <b>E-Auction</b> is to provide the ability to initiate sale, purchase and bid for a product by the customer. The core modules of E-Auction app are:

        ü Put a new product on auction with starting bid price.
        
        ü Bid for the product.
        
        ü Update the bid price.
        
        ü Enlisting of bids placed on any product.</p>
    </header>
  </div>
